{% extends "_base.html" %}
{% block title %} Password Reset &ndash; Everfree Outpost {% endblock %}

{% block content %}

<h1>Password Reset</h1>

{% for msg in get_flashed_messages(category_filter=['login']) %}
<p class='msg'>{{ msg }}</p>
{% endfor %}

<style>
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0;
}
</style>

<form action='/pwreset' method='post'>
    <input type='hidden' name='token' value='{{ token }}'>
    <div>
        <div class='row'>
            <span style='width: 6em'>Name:</span>
            <span class='grow'>{{ name }}</span>
        </div>
        <div class='row'>
            <span style='width: 6em'>Password:</span>
            <input type='password' name='password' class='grow'>
        </div>
        <div style='text-align: right; padding: 2px 0'>
            <input type='submit' value='Reset Password'>
        </div>
    </div>
</form>

{% endblock %}
